<h1 class="display-4">Hello <%= @user %></h1>
<h3>You need to upload your resume or file that contains your personal info, WebZero will parse it automatically and generate your website!</h3>
<div class="jumbotron">
<br/>
<br/>
<br/>
<br/>
<%= link_to "See some existing WebZero Build Websites", websites_path %>
<%= form_with model: @article do |form| %>
  <div class="form-group">
    <label for="upload">Upload your resume/other basic info here</label>
    <br/>
    <input class="form-control form-control-lg" id="formFileLg" type="file">
  </div>
<br/>
<br/>
<br/>
  <div>
     <%= form.submit "Generate", class:"btn btn-light" %>
  </div>
<% end %>
</div>
